In [1]:
vals = [1,2,3]
vals[1]=11
vals

[1, 11, 3]

In [ ]:
name = 'Yalew'

In [13]:
values = [11,12,13,11,77,66]
for i in range(len(values)):
    values[i] += 10 
    print(values[i])

21
22
23
21
87
76

In [12]:
for value in values:
    value += 10
    print(value)

31
32
33
31
97
86

In [14]:
print(value[7])

TypeError: 'int' object is not subscriptable

In [26]:
friends = []
friends.append ('Ross')
friends.append('Pheobe')
friends.insert (1, 'Rachel')

if 'Monica' in friends:
    print('She is a friend') #print statment is skipped because she is not a friend

new_friends= ['Monica', 'Joey', 'Chandler']
friends = friends + new_friends 
print(max(friends))
friends.sort(reverse=True) #arrange the names in desending order
friends

Ross

['Ross', 'Rachel', 'Pheobe', 'Monica', 'Joey', 'Chandler']

In [27]:
new_list =friends [1:4]
new_list

['Rachel', 'Pheobe', 'Monica']

In [31]:
new_list[1] = 'Yalew '
friends 

cat_friends = ''

for friend in range (len(friends)): 
    if i > 0:
        cat_friends += ', '
    cat_friends += friends[1]

cat_friends

', Rachel, Rachel, Rachel, Rachel, Rachel, Rachel'

In [32]:
print(friends)

temp = friends [2]
friends[2] = friends [5]
friends[5] = temp 
print(friends)

['Ross', 'Rachel', 'Pheobe', 'Monica', 'Joey', 'Chandler']
['Ross', 'Rachel', 'Chandler', 'Monica', 'Joey', 'Pheobe']

In [35]:
word = 'Hello World' 
print(word[0])

listWords = word.split('@')
listWords

H

['Hello World']

In [37]:
email = 'zyalew@loyola.edu'
name, provider = email.split('@')

print(name)
print(provider)

zyalew
loyola.edu

In [40]:
hi = word[0:5:2]
print(hi)

Hlo

In [41]:
def multiply(values, factor): 
    for i in range(len(values)): 
        values[i] *= factor 
    factor = 200 

f = 10 
scores = [33, 44, 55]
multiply(scores, f)

print(scores) 
print(f)

[330, 440, 550]
10

In [42]:
triple = (2, 3, 5)
triple[1] = 0

TypeError: 'tuple' object does not support item assignment