### 51843

Given four int variables that have been given values, `octet1`, `octet2`, `octet3`, and `octet4`, write a string expression whose value is the string equivalent of each these variables joined by a single period (.).

In [ ]:
#str = str(octet1) + "." + str(octet2) + "." + str(octet3) + "." + str(octet4)

### 51764

Write an expression whose value is the str that consists of the first four characters of the str associated with `s`.

In [ ]:
#str = s[:4]

### 51836

Given the String variable `name`, write an expression that evaluates to the third character of `name`.

In [ ]:
#name[2]

### 51761

Write an expression whose value is the last character in the str associated with `s`.

In [ ]:
#s[-1]

### 51884

Assume that `c` is a variable has been assigned a string value. Write an expression whose value is true if and only if `c` is a tab character.

In [ ]:
#c == "\t"

### 51279

Assign `True` to the variable `has_dups` if the string `s1` has any duplicate character (that is if any character appears more than once) and `False` otherwise.

In [ ]:
#has_dups = False 
#for i in range(len(s1)):
      #if s1.count(s1[i])> 1: 
        #has_dups = True

### 51002

Given a variable `s` that is associated with the empty string, write some statements that use a while loop to associate `s` with a string consisting of exactly 777 asterisks (`*`).

In [ ]:
#s = ""
#x = "*"
#while len(s) < 777:
    #s += x

### 51600

Write a statement that defines `plist` to be the empty list.

In [ ]:
#plist = []

### 51601

Write a statement that defines `plist` as the list containing exactly these elements (in order): 'spam', 'eggs', 'vikings'.

In [ ]:
#plist = ['spam','eggs','vikings']

### 51193

Create a list named `tax_rates`, consisting of the following five elements: 0.10, 0.15, 0.21, 0.28, 0.31, in that order.

In [ ]:
#tax_rates = ['0.10', '0.15', '0.21', '0.28', '0.31']

### 51203

Given that `plist` has been defined to be a list of 30 elements, add 5 to its last element.

In [ ]:
#plist[-1] += 5

### 51613

Given that `play_list` has been defined to be a list, write an expression that evaluates to a new list containing the elements at index 0 through index 4 of `play_list`. Do not modify `play_list`.

In [ ]:
#new_list = play_list[0:5]

### 51615

Given that `k` and `j` each refer to a non-negative int and that `play_list` has been defined to be a list with at least `j` elements, write an expression that evaluates to a new list containing all the elements from the one at index `k` through the one at index `j-1` of list `play_list`. Do not modify `play_list`.

In [ ]:
#new_playlist = play_list[k:j]

### 51620

Given that `plist` has been defined to be a list, write an expression that evaluates to `True` if 3 is an element of `plist`.

In [ ]:
#3 in plist

### 51211

Given that the variable `a` is associated with a list, write an expression for the corresponding element of `a[i]`.

In [ ]:
#a[i]

### 51602

Given a list named `play_list`, write an expression whose value is the length of `play_list`.

In [ ]:
#len(play_list)

### 51210

Given a variable `temps` that refers to a list, all of whose elements refer to values of type float, representing temperature data, compute the average temperature and assign it to a variable named `avg_temp`.

In [ ]:
#total = sum(temps)
#avg_temp = total/len(temps)

### 51200

Assume that `salary_steps` refers to a non-empty list, write a statement that assigns the value 30000 to the first element of this list.

In [ ]:
#salary_steps[0] = 30000

### 51618

Given that `worst_offenders` has been defined as a list with at least 6 elements, write a statement that defines `lesser_offenders` to be a new list that contains all the elements from index 5 of `worst_offenders` and beyond. Do not modify `worst_offenders`.

In [ ]:
#lesser_offenders = worst_offenders[5:]

### 51212

Given that `a` refers to a list, write the necessary code to reverse the elements of the list.

In [ ]:
#a.reverse

### 51603

Given a variable named `plist` that refers to a list, write a statement that adds another element, 5 to the end of the list.

In [ ]:
#plist.append(5)

### 51610

Given that `play_list` has been defined to be a list, write a statement that sorts the list.

In [ ]:
#play_list.sort()

### 51275

Given the lists `list1` and `list2` that are of the same length, create a new list consisting of the first element of `list1` followed by the first element of `list2`, followed by the second element of `list1`, followed by the second element of `list2`, and so on.

In [ ]:
#new_list = []
#for i in range(len(list1)): 
    #new_list.append(list1[i])
    #new_list.append(list2[i])

### 51283

Given the list `names`, find the largest element in the list and swap it with the last element. Assume `names` is not empty.

In [ ]:
#index = names.index(max(names))
#names[index], names[-1] = names[-1], names[index]

### 51257

Create a list of the odd numbers between 1 and `n` (include 1 as well as `n` if it's odd) in the list. Associate the list with the variable `odds`.

In [ ]:
#odd = list(range(1, n+1, 2))